langchain
langchain-core
langchain-community
pypdf
pymupdf
sqlalchemy
pymysql
langchain_text_splitters
sentence-transformers
faiss-cpu
chromadb
langchain_groq
dotenv
langchain_community
fastapi
pydantic
uvicorn
streamlit