asyncio
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langsmith
pypdf
pymupdf
sqlalchemy
pymysql
sentence-transformers
faiss-cpu
python-dotenv
fastapi
pydantic
uvicorn
streamlit